:root {
    --blue: rgb(15, 38, 100);
    --light: rgb(15, 38, 100, 0.3);
    --bg: rgb(255, 245, 238);
    --bglight: rgb(255, 245, 238, 0.9);
    --bglighter: rgb(255, 245, 238, 0.3);
  }

body {
  background-color:var(--bg);
  font-family: 'Barlow', sans-serif;
  margin: 0;
  padding: 0;
}

.banner {
    background-color: var(--blue);
    position: sticky;
    top: 0;
    height: 5vh;
    width: 110%;
    min-height: 40px;
    display: flex;
}

button.pagelink {
  background: none;
  border: none;
  cursor: pointer;
  margin: justify;
  color: var(--bg);
  font-size: max(1.8vh, 0.9rem);
  font-family: 'Barlow', sans-serif;
}

button.pagelink:hover {
    color: gray;
}

#home_title {
  font-size: 6vw;
  padding: 0.5rem;
  padding-top: 1rem;
  color: var(--bg);
}

.home-buttons {
    width: 60vw;
    border-radius: 10px;
    margin: auto;
}

.homelink {
  width: 100%;
  font-size: 3vw;
  text-align: center;
  padding: 0.5rem;
  margin: auto;
  margin-top: 1rem;
  background-color: var(--bglight);
  border-radius: 10px;
  font-family: 'Barlow', sans-serif;
}

.homelink:hover {
  background-color: var(--bglighter);
  color: var(--bg);
  cursor: pointer;
}


#homepage {
  height:100vh; 
  border: 0.1px solid transparent;
  box-sizing:border-box;
  background-image: url("/images/bg2.jpg");
  background-size: cover;
  position: relative;
}

#home_title {
  text-align: center;
}

#wyse {
  height: 5rem;
}


.title {
    border: 10rem;
    color: var(--blue);;
    text-align: center;
    margin-top: 1rem;

}
table, tr, td {
    border: 2px solid var(--blue);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    border-collapse: collapse;
}

tr {
    height: 5rem;
    background-color: var(--bg);;
}


td {
    text-align: center;
    width: 20vw;
    color: var(--blue);
    font-size: 1.1rem;
    padding: 3px;
}

tr:first-child {
    font-weight: bolder;
    background-color: var(--light);
}

.example, .calculator, .practice {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    display: block;
    border: 2px solid var(--blue);
    background-color: var(--light);
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    font-size: 1rem;
}

h2 {
  font-size: 1.5rem;
}

.inline-block {
    display: inline-block;
    text-align: center;
    padding: 1rem;
}
.source {
  font-size: 0.7rem;
}

form > button {
  background-color: white;
  color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 4px;
  transition-duration: 0.3s;
  cursor: pointer;
}

form > button:hover {
  background-color: var(--blue);
  color: var(--bg);
}

form > input {
  width: 60px;
}

#footer {
  text-align: right;
  padding-left: 1rem;
  padding-right: 1rem;
  font-style: italic;
}

.check, .student_answer, .unit {
  display: none;
}

.page {
  display: none;
}

#homepage {
  display: block;
}